<div class="graphic_organizer_listing" model_root="true" model="graphic_organizer" model_id="<%= graphic_organizer_listing.id %>">
  <div class="title" contenteditable><%=  graphic_organizer_listing.title %></div>
  <div class="flip_tabs_wrapper">
    <div class="flip_tabs_control">
      <input type="text" placeholder="New Flip Tab" class="add_flip_tab"/>
    </div>
    <div class="flip_tabs_list"></div>
  </div>
</div>