<div class="flip_tab_listing" model_root="true" model="flip_tab" model_id="<%= flip_tab_listing.id %>">
  <div class="back_to_front"></div>
  <div class="front title"><%=  flip_tab_listing.title %></div>
  <div class="back content"><%=  flip_tab_listing.content %></div>
</div>