<div class="text_listing" model_root="true" model="text" model_id="<%= text_listing.id %>">
  <div class="title" contenteditable><%= text_listing.title %></div>
  <div class="content" contenteditable><%= text_listing.content %></div>
</div>